body {
    margin: 0;
    padding: 0;     
}

main, header, footer {
    flex-direction: column;
    display: flex;
}

.flex_row { display: flex; }
.flex_container { display: flex; }

/*---- Columns ----*/
.flex_1 { flex: 12; }
.flex_2 { flex: 6; }
.flex_3 { flex: 4; }
.flex_4 { flex: 3; }
.flex_6 { flex: 2; }
.flex_12 { flex: 1; }
/*-----------------*/

/*---- Justify ----*/
.center { justify-content: center; }
.flex-end { justify-content: flex-end; }
.flex-start { justify-content: flex-start; }
.space-around { justify-content: space-around; }
.space-between { justify-content: space-between; }
/*-----------------*/

/*---- Column-Align ----*/
.column-right {
    flex-direction: column;
    align-items: right;
}

.column-left {
    flex-direction: column;
    align-items: left;
}

.column-center {   
    align-items: center;
    flex-direction: column;
	justify-content: center;
}

.column-end {   
    align-items: center;
    flex-direction: column;
	justify-content: end;
}
/*---------------------*/

/*---- Direction ----*/
.column { flex-direction: column; }
.row { flex-direction: row; }
/*------------------*/

/*---- Order ----*/
.order1 { order: 1; }
.order2 { order: 2; }
.order3 { order: 3; }
.order4 { order: 4; }
.order5 { order: 5; }
.order6 { order: 6; }
/*---------------*/

/*---- Colors ----*/
.red { background-color: #FF5757; }
.blue { background-color: #57EFFF; }
.green { background-color: #6DFF57; }
.yellow { background-color: #FFC257; }
.grey { background-color: #3D3D3D; }
.purple { background-color: #E799F3; }
/*---------------*/

.box-160 {
    height: 160px;
    box-sizing: border-box;
    border: 2px solid #171717;
}

h1, h2 {
    font-family: sans-serif;
    color: aliceblue;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 60px;
}

/*---- MOBILE ----*/
@media screen and (max-width: 300px) {
    .flex_row { flex-direction: column; }
    
}
